body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

.pagination span {
    display: inline-block;
    background: #f8f8f8;
    padding: .5em;
}

#product input, #product textarea {
    display: block;
}
#product div:not(:first-child) {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #333;
}
a {
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}
