{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product index</h1>
    <p><a href="{{ url('logout') }}">Sign uot</a></p>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
                        <th>actions</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                                <td>
                    <a href="{{ path('product_show', {'id':product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id':product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('product_new') }}">Create new</a>
    {{ knp_pagination_render(products) }}
{% endblock %}