{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
            <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
            <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
            <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
            <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">back to list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', {'id':product.id}) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
